body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #f4f4f4;
}


header {
background: #111;
color: white;
padding: 20px;
text-align: center;
}


nav {
background: #333;
padding: 10px;
text-align: center;
}


nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}


nav a:hover {
color: orange;
}


.hero {
padding: 40px;
text-align: center;
background: white;
}


}
